{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Next Level Login & Registration  Form</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container" >
		<form action="{% url "register" %}" method="POST"  class="form signup">
			{% csrf_token %}
			<h2>Sign Up</h2>  <!-- Messages -->
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
			<div class="inputBox">
				<input type="text" name="full_name"  required="required">
				<i class="fa-regular fa-user"></i>
				<span>username</span>
			</div>
			<div class="inputBox">
				<input type="text" name="email" required="required">
				<i class="fa-regular fa-envelope"></i>
				<span>email address</span>
			</div>
			<div class="inputBox">
				<input type="password"  name="password" required="required">
				<i class="fa-solid fa-lock"></i>
				<span>create password</span>
			</div>
			<div class="inputBox">
				<input type="password" name="confpassword" required="required">
				<i class="fa-solid fa-lock"></i>
				<span>confirm password</span>
			</div>
			<div class="inputBox">
				<input type="submit" value="Create Account">
			</div>
		
		</form>
		<br>
		<div class="form signin">
		
		</div>

	</div>

	<script>
		let login = document.querySelector('.login');
		let create = document.querySelector('.create');
		let container = document.querySelector('.container');

		login.onclick = function(){
			container.classList.add('signinForm');
		}
		
		create.onclick = function(){
			container.classList.remove('signinForm');
		}
	</script>
</body>
</html>